#topNav {
    display: flex;
    justify-content: space-between;
}
#header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.head {
    min-height: 90vh;
}
.container {
    width: 90%;
    margin: 0 auto;
    background-color: chocolate;
}
.dest {
    width: 100%;
    background-color: aqua;
    text-align: center;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    &.para {
        background: url(../img/dd1.jpg) center/cover;
    }
    &.paris {
        background: url(../img/dd2.jpg) center/cover;
    }
    &.sri {
        background: url(../img/dd3.jpg) center/cover;
    }
    & h4, p, button {
        z-index: 100;
    }
}
.dest:hover::before {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(rgb(53, 53, 53), 0.5);
    z-index: 2;
}
.package {
    &__precisions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}
.issue {
    & img {
        width: 100%;
    }
    & h4 {
        text-align: left;
    }
}